<h2>Administrador:</h2>
<hr>
<div class="card">
  <div class="card-body">
    <h3>Categorias: </h3>
    <p>Crie, edite ou exclua categorias</p>
    <a href="/admin/categorias"><button class="btn btn-success">Ir para:</button></a>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h3>Postagens: </h3>
    <p>crie, edite ou exclua postagens</p>
    <a href="/admin/postagens"><button class="btn btn-success">Ir para:</button></a>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h3>Usuários: </h3>
    <p>Veja os usuários</p>
    <a href="/admin/usuarios"><button class="btn btn-success">Ir para:</button></a>
  </div>
</div>